ul {
    width: 28%;
	margin: auto;
}

ol {
    width: 28%;
	margin:auto;
} 

li {
    text-align: center;
}

h3 {
    text-align: center;	
}

p {
   text-align: center;
}

img{
  display: block;
  margin: 0 auto;
}

ol {
	list-style-type: upper-roman;
}

ul {
    list-style-type: square;
}	